<ion-view title="Score">
    <ion-content class="has-header padding">
        <!--logo-->

        <!--content-->
        <div class="list card">

            <div class="item item-divider row">
                <span class="col">position</span>
                <span class="col">nickname</span>
                <span class="col">score</span>
            </div>
            <div ng-repeat="score in scores | orderBy:'position'">
                <div ng-if="score.userId == userId" class="item row balanced">
                    <span class="col">{{score.position}}</span>
                    <span class="col">{{score.nickname}}</span>
                    <span class="col">{{score.score}}</span>
                </div>
                <div ng-if="score.userId != userId" class="item row">
                    <span class="col">{{score.position}}</span>
                    <span class="col">{{score.nickname}}</span>
                    <span class="col">{{score.score}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
